@page "/items"
@using CreativeCoders.SmartHal.Web.ControlCenter.Client.ViewModels
@using CreativeCoders.SmartHal.Web.Api.Core.Models
@using CreativeCoders.SmartHal.Web.ControlCenter.Client.Components
@inject ItemsViewModel ItemsViewModel

<h3>Items</h3>

<div style="margin: 8px">
    <Button Clicked="@(async () => await ItemsViewModel.RefreshAsync())">
        <Iconify Icon="mdi:refresh" Height="24px" Width="24px"></Iconify>
    </Button>
</div>

<DataTable TItem="ItemModel" ItemsSource="@ItemsViewModel.ItemModels">
    <HeaderTemplate>
        <th>Name</th>
        <th>ItemType</th>
        <th>Value</th>
    </HeaderTemplate>
    <ItemTemplate>
        <td>@context.Name</td>
        <td>@context.ItemType</td>
        <td>
            <ItemValueControl ItemsViewModel="@ItemsViewModel" ItemModel="@context"/>
        </td>
    </ItemTemplate>
</DataTable>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await ItemsViewModel.RefreshAsync();
    }
}
