@page "/things"
@using CreativeCoders.SmartHal.Web.ControlCenter.Client.ViewModels
@using CreativeCoders.SmartHal.Web.Api.Core.Models
@inject ThingsViewModel ThingsViewModel

<h1>Things</h1>

<div style="margin: 8px">
    <Button Clicked="@(async () => await ThingsViewModel.Refresh())">
        <Iconify Icon="mdi:refresh" Height="24px" Width="24px"></Iconify>
    </Button>
</div>

<DataTable TItem="ThingModel" ItemsSource="@ThingsViewModel.ThingModels">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>State</th>
    </HeaderTemplate>
    <ItemTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.StateText</td>
    </ItemTemplate>
</DataTable>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await ThingsViewModel.Refresh();
    }

}
